/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#map {
    height: 400px;
    /* The height is 400 pixels */
    /* width: 50%;
    The width is the width of the web page */
    
}
/* hide close button for info window */
.gm-ui-hover-effect {
  display: none !important;
}

.schedule-canvas {
  width: 500px;
  height: 810px;
}
.schedule-block {
  background-color: #B7D9FF !important;
  position: absolute !important;
}

/* a:link, a:visited {
  background-color: #2bebdb;
  color: white;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #17978d;
} */
