/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    /* width: 50%;
    The width is the width of the web page */
    
}
/* hide close button for info window */
.gm-ui-hover-effect {
  display: none !important;
}

.schedule-canvas {
  width: 500px;
  height: 810px;
}
.schedule-block {
  border-radius: 4px;
  padding: 5;
  border: 1px solid black;
  margin: 0;
  background-color: #29e;
  color: #fff;
  font-size: 1.2em;
  touch-action: none;
  box-sizing: border-box;
  position: absolute;
}

/* a:link, a:visited {
  background-color: #2bebdb;
  color: white;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #17978d;
} */